@import url(font.css);

@import url(https://fonts.googleapis.com/css2?family=Oxanium:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: 'Oxanium', display;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btnYellow: #FFCE4E;
    --textYellow: #FFCE4E;
    --bodyBg: #1C121F;
    --textWhite: #fff;
    --cardBg: #3D2942;
    --textGray: #9B9E9A;
    --textBlack: #000;
    --fontOxanium: 'Oxanium';
    --fontWorkSans: 'Work Sans';
    --BackCreators: #302034;
    --Creators: #908294;
}


body {
    background: var(--bodyBg);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1367px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 38px;
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 161px;

    ul {
        display: flex;
        gap: 64px;

        a {
            color: var(--textWhite);
            font-size: clamp(12px, 4vw, 18px);
            transition: 500ms;
            position: relative;
            display: flex;
            justify-content: center;

            &:hover {
                color: var(--btnYellow);
            }

            &:hover::after {
                width: 100%;
            }

            &::after {
                content: '';
                transition: 500ms;
                width: 0;
                height: 1px;
                background: var(--btnYellow);
                position: absolute;
                bottom: -5px;
            }
        }
    }
}

.btn {
    border: 1px solid var(--btnYellow);
    background: #E9D7A71A;
    padding: 21px 0;
    width: 195px;
    color: var(--textYellow);
}


/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz header  */


.header_left {
    max-width: 680px;
    width: 100%;
    margin-top: 171px;


    h1 {
        font-size: clamp(42px, 6vw, 85px);
        color: var(--textWhite);

        span {
            color: var(--textYellow);
        }
    }

}

.btns {
    padding: 24px 76px;
    background: var(--btnYellow);
    color: #000;
    font-size: clamp(18px, 5vw, 28px);
    font-weight: 600;
}

.header_links {

    margin-top: 77px;
    margin-bottom: 121px;

    .btn {
        width: 257px;
        padding: 24px 0;
        font-size: clamp(18px, 5vw, 28px);
        margin-left: 48px;
    }
}

.header_number {
    display: flex;
    align-items: center;
    gap: 103px;
}

.header_mini {

    h3 {
        font-size: clamp(36px, 5vw, 62px);
        font-weight: 700;
        color: var(--textWhite);
        margin-bottom: 1px;
    }

    p {
        color: var(--textGray);
        font-size: clamp(16px, 3vw, 24px);
    }
}

.header_card_inset {
    background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
    margin: 0 auto;
    backdrop-filter: blur(5px);
    padding: 18px 39px;
    width: calc(100% - 42px);
    position: absolute;
    top: 24px;
    color: #fff;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

}

.header_card_inset_box {


    p {
        font-size: 18px;
        color: var(--textWhite);
        margin-bottom: 7px;
    }

    h5 {
        font-size: 32px;
        color: var(--textWhite);
        font-weight: 700;
    }
}

.header_right {
    max-width: 579px;
    width: 100%;

}

.header_right_img {
    max-width: 579px;
    max-height: 718px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header_right_card {
    background: var(--textWhite);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;


    span {

        h3 {
            font-size: clamp(18px, 3vw, 28px);
            color: var(--textBlack);
            margin-bottom: 4px;
        }

        p {
            font-size: clamp(14px, 3vw, 24px);
            color: var(--textBlack);
        }
    }

}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 103px;
}

header {
    position: relative;
}

header::after {
    content: '';
    width: 50%;
    height: 100%;
    background: #4F464E73;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.come {
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--cardBg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.come_down {
    height: 50px;
    width: 2px;
    background: #D2CECE;
    display: inline-block;
    position: relative;
}

.come_down::after {
    content: '';
    height: 15px;
    width: 2px;
    background: #D2CECE;
    position: absolute;
    bottom: -2px;
    left: -4px;
    transform: rotate(-35deg);
}

.come_down::before {
    content: '';
    height: 15px;
    width: 2px;
    background: #D2CECE;
    position: absolute;
    bottom: -2px;
    left: 4px;
    transform: rotate(35deg);
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz actions start */


.actions_marquee {
    display: flex;
    align-items: center;
    gap: 132px;
    margin-top: 112px;
    margin-bottom: 113px;
}

.actions_title {
    text-align: center;
}

.title {
    color: var(--textWhite);
    font-size: clamp(36px, 6vw, 64px);
    font-family: var(--fontOxanium);
    font-weight: 700;
    position: relative;
    width: max-content;
    margin: 80px auto;
}

.title::after {
    content: '';
    position: absolute;
    left: -40px;
    top: -20px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background: #8613A5;
    z-index: -1;
}



.actions_card {
    max-width: 495px;
    width: 100%;
    background: var(--cardBg);
    padding: 32px;
    flex-shrink: 0;


}

.actions_card:hover .actions_card_img img{
    transform: scale(1.3);
}

.actions_card_img {
    max-width: 431px;
    max-height: 359px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 500ms;
    }

    button {
        background: linear-gradient(125.33deg, #8513a5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
        max-width: 194px;
        width: 100%;
        font-size: 24px;
        color: var(--textWhite);
        display: inline-block;
        padding: 15px 0;
        border: none;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.actions_card_avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.actions_card_avatar_left {
    display: flex;
    gap: 16px;
    align-items: center;

    span {
        h5 {
            font-size: 28px;
            color: var(--textWhite);
            font-weight: 500;
            margin-bottom: 4px;
        }

        p {
            font-size: 20px;
            color: var(--textGray);
        }
    }
}

.actions_card_avatar_right {
    font-size: 32px;
    color: var(--textGray);

    i {
        font-size: 28px;
    }

}

.actions_card_tex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    p {
        color: var(--textGray);
        font-size: 24px;

    }

    h6 {
        font-size: 24px;
        color: var(--textWhite);
    }
}

.actions_btn {
    width: 100%;
}

.actions_cards {
    display: flex;
    gap: 42px;
    overflow-x: auto;
    padding-bottom: 25px;

    &::-webkit-scrollbar{
        background: none;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 12px;
        background: var(--textYellow);
    }
}

.action_btn_center{
    margin-top: 84px;
    margin-bottom: 80px;
    text-align: center;
}


/* WORKS */

.works{
    h2{
        font-size: clamp(34px, 6vw, 64px);
        text-align: center;
        color: var(--textWhite);
    }

    .works_card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 44px;
        margin-bottom: 174px;
    }

    .works_cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        span{
            display: inline-block;  
            width: 106px;
            height: 106px;
            border-radius: 50%;
            background: var(--cardBg);
            display: grid;
            place-items: center;

            i{
                font-size: 40px;
                color: var(--textWhite);

            }
        }

        p{
            color: var(--textYellow);
            font-size: 24px;
            font-weight: 600;
            margin-top: 32px;
        }
    }
}


/* POPULAR */

.popular_title{
    h2::after{
        background: #E03054;
    }

    .popular_cards{
        background: var(--cardBg);
        padding: 36px;
        margin-top: 24px;
        max-width: 525px;
        width: 100%;

        .popular_card_text{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .popular_text_avatar{
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 24px;

                h6{
                    font-size: 32px;
                    font-weight: 500;
                }
            }
        }

        p{
            font-size: 20px;
            font-weight: 600;
        } 
    }
}

.popular_box_cards{
    display: flex;
    align-items: center;
    gap: 36px;
    position: relative;
    overflow: hidden;

    .popular_box_cards:hover{
        transform: scale(1.3);

        img {
            /* width: 100%;
            height: 100%; */
            object-fit: cover;
            transition: 0.5s;
        }
    }
}


.top_creators{

    .creator_avatar{
        display: flex;
        gap: 24px;
        /* justify-content: space-between; */
        align-items: center;

        max-width: 608px;
        height: 156px;
        background: var(--BackCreators);

        h3{
            font-size: 32px;
            font-weight: 600;
            color: var(--textWhite);
        }
        p{
            font-size: 24px;
            font-weight: 500;
            color: var(--Creators);
        }

        img{
            margin-left: 29px;
        }

        .creator_avatar2{
            margin-left: 145px;
            padding-right: 64px;
        }
    }

    .creator_div_1, .creators_div_2{
        display: flex;
        gap: 72px;
        /* justify-content: space-between; */
        align-items: center;
        margin-top: 56px;
    }

    .creatorn_button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
}

/* SUPPORT */

.support_content{
    background: url(../img/Pattern.png)no-repeat center / cover;
    height: 452px;

    .support_list{
        display: flex;
        justify-content: center;
        align-items: center;
        
        h2{
            text-align: center;
            margin-top: 117px;
            font-size: 64px;
            font-weight: 700;
            color: var(--textWhite);
        }
    }

    .support_text_inp{
        margin-top: 24px;
        margin-left: 20px;
        input{
            max-width: 456px;
            width: 100%;
            padding: 25px 70px;
            background: none;
            border: 1px solid var(--btnYellow);
            color: #000;
            font-size: clamp(15px, 2vw, 24px);
            font-weight: 400;
            outline: none;
            color: var(--textWhite);
        }

        .btns{
            border: none;   
            margin-left: -5px;

            a{
                color: var(--textBlack);
            }
        }
    }
}

footer{
    height: 400px;
    .footer_content{
        margin-top: 119px;
    }
    .footer_list{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        gap: 51px;

        .about_nft_site{
            max-width: 391px;
            width: 100%;
            height: 92px;

            .icons{
                margin-top: 52px;
                font-size: 48px;
                color: #D53D5C;

                i:hover{
                    color: #F7D7FF;
                    transition: 0.5s;
                }
            }

            p{
                font-size: 20px;
                font-weight: 500;
                color: var(--Creators)
            }

            .footer_coll{
                margin-top: 52px;
                font-family: sans-serif;
            }

            h5{
                font-size: 24px;
                font-weight: 700;
                color: var(--textWhite);
            }

            .links{
                margin-top: 18px;
                 
                ul a{
                    color: var(--Creators);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 40px;
                }
            }
        }

        .about_nft_site1{
            margin-left: 108px;

            h5{
                font-size: 24px;
                font-weight: 700;
                color: var(--textWhite);
            }

            .links{
                margin-top: 18px;
                 
                ul a{
                    color: var(--Creators);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 40px;
                }
            }
        }
    }
}



h2{
    animation: rerko linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 700px;
}

@keyframes rerko{
    from{
        scale: .8;
        opacity: 0;
    }

    to{
        scale: 1;
        opacity: 1;
    }
}